# Pandas Breakout Questions

To get some hands on experience with `pandas` we will be working with the somewhat morose dataset looking at all the mass shooting events that occured in 2015 (`./data/mass_shootings_2015.csv`)

In [4]:
import pandas as pd

## 1. Reading in the Dataframe

First things first, we must read in our dataset!
Turn to your neighbor and figure out how to read this data into a Dataframe.  Once you have it read in, take a look at the columns and look at some summary statistics.

In [5]:
df = pd.read_csv('./data/mass_shootings_2015.csv')

In [10]:
df.describe

<bound method NDFrame.describe of          Incident Date           State                    City Or County  \
0    December 31, 2015       Louisiana                       New Orleans
1    December 27, 2015       Tennessee                           Jackson
2    December 26, 2015    Pennsylvania                      Philadelphia
3    December 25, 2015         Florida                      Jacksonville
4    December 25, 2015         Alabama                            Mobile
5    December 21, 2015      California                       San Leandro
6    December 20, 2015  North Carolina                        Wilmington
7    December 20, 2015         Florida                    Miami (Goulds)
8    December 20, 2015         Florida               Miami-dade (county)
9    December 14, 2015        Illinois                Lovejoy (Brooklyn)
10   December 13, 2015      California                       Los Angeles
11   December 13, 2015      California                  Huntington Beach
12   December 12, 2015         Georgia                          Savannah
13   December 11, 2015        Maryland                         Baltimore
14   December 11, 2015    Pennsylvania         Pittsburgh (Mount Oliver)
15    December 8, 2015            Ohio            Cincinnati (Fairmount)
16    December 6, 2015       Louisiana                          Raceland
17    December 6, 2015        Nebraska                             Omaha
18    December 2, 2015      California                    San Bernardino
19    December 2, 2015         Georgia                          Savannah
20   November 29, 2015        Illinois                          Kankakee
21   November 27, 2015        Colorado                  Colorado Springs
22   November 27, 2015      California                        Sacramento
23   November 24, 2015  South Carolina                    Horry (county)
24   November 23, 2015            Ohio                          Columbus
25   November 23, 2015       Minnesota                       Minneapolis
26   November 22, 2015           Texas                       Brownsville
27   November 22, 2015      Washington                           Seattle
28   November 22, 2015       Louisiana                       New Orleans
29   November 22, 2015        New York                          Newburgh
..                 ...             ...                               ...
300   February 9, 2015         Florida                   New Port Richey
301   February 8, 2015       Tennessee                        Maury City
302   February 7, 2015         Georgia                      Douglasville
303   February 6, 2015        Oklahoma                             Tulsa
304   February 5, 2015            Ohio  Beachwood (Warrensville Heights)
305   February 1, 2015        New York                          Syracuse
306   February 1, 2015        New York              New York (Manhattan)
307   January 31, 2015         Georgia                          Lagrange
308   January 28, 2015         Georgia                     Dekalb County
309   January 26, 2015      California                          Stockton
310   January 24, 2015        New York                  Arverne (Queens)
311   January 24, 2015        Nebraska                             Omaha
312   January 23, 2015   Massachusetts                            Boston
313   January 20, 2015       Tennessee                       Clarksville
314   January 19, 2015           Texas                       San Antonio
315   January 16, 2015      California                           Oakland
316   January 13, 2015        Virginia                        Portsmouth
317   January 13, 2015        Illinois                          Rockford
318   January 11, 2015  North Carolina                        Hope Mills
319   January 11, 2015         Florida                          Lakeland
320   January 11, 2015      California                          San Jose
321   January 10, 2015          Kansas                           Wichita
322    January 9, 2015      California                     San Francisco
323    January 8, 2015   Massachusetts                            Boston
324    January 7, 2015       Tennessee                       Chattanooga
325    January 6, 2015         Florida                             Miami
326    January 4, 2015        Virginia                           Roanoke
327    January 4, 2015           Texas                            Dallas
328    January 2, 2015         Georgia                          Savannah
329    January 1, 2015       Tennessee                           Memphis

                                               Address  # Killed  # Injured  \
0                          1900 block of Amelia Street         0          5
1                                        North Parkway         0          4
2                                   4210 Macalester St         0          4
3                                  Franklin and Odessa         0          4
4                                 785 Schillinger Rd S         0          4
5                      14600 block of East 14th Street         0          4
6                               11th and Castle Street         1          4
7                         21630 Southwest 120th Avenue         1          4
8    Northeast Seventh Avenue and Northeast 166th S...         0          4
9                                     307 Jefferson St         1          3
10                               5550 S. Flower Street         1          3
11                         17000 block of Keelson Lane         0          4
12                                     Whitaker Street         0          4
13                   5100 block of Park Heights Avenue         1          3
14                      200 Block of  Brownsville Road         0          4
15                      2300 block of Baltimore Avenue         1          3
16                                       Market Street         1          3
17                North 108th Street and Military Road         2          3
18                          1365 South Waterman Avenue        16         19
19                       100 block of West 33rd Street         1          3
20                                     648 E. Court St         0          5
21                                3480 Centennial Blvd         3          9
22                           7900 block of Florin Road         2          2
23                                 1321 Colletta Court         0          4
24                       90 block of S. Terrace Avenue         4          1
25                                 Morgan Avenue North         0          5
26                                1800 Block of FM 802         0          4
27                                   Broadway and Pike         0          4
28                        1900 block of Gallier Street         0         17
29                                        203 Broadway         0          5
..                                                 ...       ...        ...
300                                  9552 Adler Street         3          1
301                                    251 Dupree Road         0          6
302                            3640 Willow Tree Circle         5          2
303                              1219 N. Sheridan Road         1          4
304                                       Harvard Road         3          3
305                           1217 West Fayette Street         0          6
306                                      3345 Broadway         1          4
307                      100 block of Woodstream Trail         4          0
308                          1600 block of Panola Road         1          3
309                        1500 block of E. 9th Street         1          3
310                                231-11 148th Avenue         4          1
311                                     3402 Parker St         3          5
312                                  954 Parker Street         0          6
313                                 321 Lansinger Lane         1          3
314                            1000 block of Gibbs St.         2          5
315                                     105th and Edes         2          2
316                 4100 block of Portsmouth Boulevard         0          5
317                         700 block of Oakley Avenue         2          2
318                        1900 block of Gumberry Road         2          5
319                                    7665 Chase Road         1          3
320                                  3840 Monterey Hwy         0          5
321                                4859 E Harry Street         2          2
322                            Laguna and Page streets         4          0
323                               104 Harrishof Street         1          3
324                               773 West Main Street         1          3
325                       1300 block of NW 62nd Street         1          3
326                             3634 Shenandoah Ave NW         2          4
327                          2000 block of Ben Hur St.         3          1
328                        500 block of W. 54th Street         1          4
329                   Interstate 240 and Poplar Avenue         0          5

     Operations
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
..          ...
300         NaN
301         NaN
302         NaN
303         NaN
304         NaN
305         NaN
306         NaN
307         NaN
308         NaN
309         NaN
310         NaN
311         NaN
312         NaN
313         NaN
314         NaN
315         NaN
316         NaN
317         NaN
318         NaN
319         NaN
320         NaN
321         NaN
322         NaN
323         NaN
324         NaN
325         NaN
326         NaN
327         NaN
328         NaN
329         NaN

[330 rows x 7 columns]>

## 2. Clean Column Names

The first thing I always do when reading in a Datafram is clean up our column names!  Personally I view spaces, special characters, and capitals in column names as no-no's.  Granted this isn't a hard and fast rule but we have already seen cases where having spaces in column names causes issues.

With your neighbor, clean the columns names of this Dataframe!

In [7]:
df.columns

Index(['Incident Date', 'State', 'City Or County', 'Address', '# Killed',
       '# Injured', 'Operations'],
      dtype='object')

In [11]:
df2 = df.copy()
cols = df2.columns.tolist()
cols = [c.replace(' ','_').lower() for c in cols]
df2.columns = cols
df2.describe

<bound method NDFrame.describe of          incident_date           state                    city_or_county  \
0    December 31, 2015       Louisiana                       New Orleans
1    December 27, 2015       Tennessee                           Jackson
2    December 26, 2015    Pennsylvania                      Philadelphia
3    December 25, 2015         Florida                      Jacksonville
4    December 25, 2015         Alabama                            Mobile
5    December 21, 2015      California                       San Leandro
6    December 20, 2015  North Carolina                        Wilmington
7    December 20, 2015         Florida                    Miami (Goulds)
8    December 20, 2015         Florida               Miami-dade (county)
9    December 14, 2015        Illinois                Lovejoy (Brooklyn)
10   December 13, 2015      California                       Los Angeles
11   December 13, 2015      California                  Huntington Beach
12   December 12, 2015         Georgia                          Savannah
13   December 11, 2015        Maryland                         Baltimore
14   December 11, 2015    Pennsylvania         Pittsburgh (Mount Oliver)
15    December 8, 2015            Ohio            Cincinnati (Fairmount)
16    December 6, 2015       Louisiana                          Raceland
17    December 6, 2015        Nebraska                             Omaha
18    December 2, 2015      California                    San Bernardino
19    December 2, 2015         Georgia                          Savannah
20   November 29, 2015        Illinois                          Kankakee
21   November 27, 2015        Colorado                  Colorado Springs
22   November 27, 2015      California                        Sacramento
23   November 24, 2015  South Carolina                    Horry (county)
24   November 23, 2015            Ohio                          Columbus
25   November 23, 2015       Minnesota                       Minneapolis
26   November 22, 2015           Texas                       Brownsville
27   November 22, 2015      Washington                           Seattle
28   November 22, 2015       Louisiana                       New Orleans
29   November 22, 2015        New York                          Newburgh
..                 ...             ...                               ...
300   February 9, 2015         Florida                   New Port Richey
301   February 8, 2015       Tennessee                        Maury City
302   February 7, 2015         Georgia                      Douglasville
303   February 6, 2015        Oklahoma                             Tulsa
304   February 5, 2015            Ohio  Beachwood (Warrensville Heights)
305   February 1, 2015        New York                          Syracuse
306   February 1, 2015        New York              New York (Manhattan)
307   January 31, 2015         Georgia                          Lagrange
308   January 28, 2015         Georgia                     Dekalb County
309   January 26, 2015      California                          Stockton
310   January 24, 2015        New York                  Arverne (Queens)
311   January 24, 2015        Nebraska                             Omaha
312   January 23, 2015   Massachusetts                            Boston
313   January 20, 2015       Tennessee                       Clarksville
314   January 19, 2015           Texas                       San Antonio
315   January 16, 2015      California                           Oakland
316   January 13, 2015        Virginia                        Portsmouth
317   January 13, 2015        Illinois                          Rockford
318   January 11, 2015  North Carolina                        Hope Mills
319   January 11, 2015         Florida                          Lakeland
320   January 11, 2015      California                          San Jose
321   January 10, 2015          Kansas                           Wichita
322    January 9, 2015      California                     San Francisco
323    January 8, 2015   Massachusetts                            Boston
324    January 7, 2015       Tennessee                       Chattanooga
325    January 6, 2015         Florida                             Miami
326    January 4, 2015        Virginia                           Roanoke
327    January 4, 2015           Texas                            Dallas
328    January 2, 2015         Georgia                          Savannah
329    January 1, 2015       Tennessee                           Memphis

                                               address  #_killed  #_injured  \
0                          1900 block of Amelia Street         0          5
1                                        North Parkway         0          4
2                                   4210 Macalester St         0          4
3                                  Franklin and Odessa         0          4
4                                 785 Schillinger Rd S         0          4
5                      14600 block of East 14th Street         0          4
6                               11th and Castle Street         1          4
7                         21630 Southwest 120th Avenue         1          4
8    Northeast Seventh Avenue and Northeast 166th S...         0          4
9                                     307 Jefferson St         1          3
10                               5550 S. Flower Street         1          3
11                         17000 block of Keelson Lane         0          4
12                                     Whitaker Street         0          4
13                   5100 block of Park Heights Avenue         1          3
14                      200 Block of  Brownsville Road         0          4
15                      2300 block of Baltimore Avenue         1          3
16                                       Market Street         1          3
17                North 108th Street and Military Road         2          3
18                          1365 South Waterman Avenue        16         19
19                       100 block of West 33rd Street         1          3
20                                     648 E. Court St         0          5
21                                3480 Centennial Blvd         3          9
22                           7900 block of Florin Road         2          2
23                                 1321 Colletta Court         0          4
24                       90 block of S. Terrace Avenue         4          1
25                                 Morgan Avenue North         0          5
26                                1800 Block of FM 802         0          4
27                                   Broadway and Pike         0          4
28                        1900 block of Gallier Street         0         17
29                                        203 Broadway         0          5
..                                                 ...       ...        ...
300                                  9552 Adler Street         3          1
301                                    251 Dupree Road         0          6
302                            3640 Willow Tree Circle         5          2
303                              1219 N. Sheridan Road         1          4
304                                       Harvard Road         3          3
305                           1217 West Fayette Street         0          6
306                                      3345 Broadway         1          4
307                      100 block of Woodstream Trail         4          0
308                          1600 block of Panola Road         1          3
309                        1500 block of E. 9th Street         1          3
310                                231-11 148th Avenue         4          1
311                                     3402 Parker St         3          5
312                                  954 Parker Street         0          6
313                                 321 Lansinger Lane         1          3
314                            1000 block of Gibbs St.         2          5
315                                     105th and Edes         2          2
316                 4100 block of Portsmouth Boulevard         0          5
317                         700 block of Oakley Avenue         2          2
318                        1900 block of Gumberry Road         2          5
319                                    7665 Chase Road         1          3
320                                  3840 Monterey Hwy         0          5
321                                4859 E Harry Street         2          2
322                            Laguna and Page streets         4          0
323                               104 Harrishof Street         1          3
324                               773 West Main Street         1          3
325                       1300 block of NW 62nd Street         1          3
326                             3634 Shenandoah Ave NW         2          4
327                          2000 block of Ben Hur St.         3          1
328                        500 block of W. 54th Street         1          4
329                   Interstate 240 and Poplar Avenue         0          5

     operations
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
..          ...
300         NaN
301         NaN
302         NaN
303         NaN
304         NaN
305         NaN
306         NaN
307         NaN
308         NaN
309         NaN
310         NaN
311         NaN
312         NaN
313         NaN
314         NaN
315         NaN
316         NaN
317         NaN
318         NaN
319         NaN
320         NaN
321         NaN
322         NaN
323         NaN
324         NaN
325         NaN
326         NaN
327         NaN
328         NaN
329         NaN

[330 rows x 7 columns]>

In [12]:
df = df2
df.columns

Index(['incident_date', 'state', 'city_or_county', 'address', '#_killed',
       '#_injured', 'operations'],
      dtype='object')

## 3. Cast the `date` column as a datetime object

We can see from our initial look at this data that the `date` column is actually an object (basically a string).  Let's alter this column to make it an actual date!

HINT: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

In [15]:
date = pd.to_datetime(df.incident_date)
df.incident_date = date
df.info

<bound method DataFrame.info of     incident_date           state                    city_or_county  \
0      2015-12-31       Louisiana                       New Orleans
1      2015-12-27       Tennessee                           Jackson
2      2015-12-26    Pennsylvania                      Philadelphia
3      2015-12-25         Florida                      Jacksonville
4      2015-12-25         Alabama                            Mobile
5      2015-12-21      California                       San Leandro
6      2015-12-20  North Carolina                        Wilmington
7      2015-12-20         Florida                    Miami (Goulds)
8      2015-12-20         Florida               Miami-dade (county)
9      2015-12-14        Illinois                Lovejoy (Brooklyn)
10     2015-12-13      California                       Los Angeles
11     2015-12-13      California                  Huntington Beach
12     2015-12-12         Georgia                          Savannah
13     2015-12-11        Maryland                         Baltimore
14     2015-12-11    Pennsylvania         Pittsburgh (Mount Oliver)
15     2015-12-08            Ohio            Cincinnati (Fairmount)
16     2015-12-06       Louisiana                          Raceland
17     2015-12-06        Nebraska                             Omaha
18     2015-12-02      California                    San Bernardino
19     2015-12-02         Georgia                          Savannah
20     2015-11-29        Illinois                          Kankakee
21     2015-11-27        Colorado                  Colorado Springs
22     2015-11-27      California                        Sacramento
23     2015-11-24  South Carolina                    Horry (county)
24     2015-11-23            Ohio                          Columbus
25     2015-11-23       Minnesota                       Minneapolis
26     2015-11-22           Texas                       Brownsville
27     2015-11-22      Washington                           Seattle
28     2015-11-22       Louisiana                       New Orleans
29     2015-11-22        New York                          Newburgh
..            ...             ...                               ...
300    2015-02-09         Florida                   New Port Richey
301    2015-02-08       Tennessee                        Maury City
302    2015-02-07         Georgia                      Douglasville
303    2015-02-06        Oklahoma                             Tulsa
304    2015-02-05            Ohio  Beachwood (Warrensville Heights)
305    2015-02-01        New York                          Syracuse
306    2015-02-01        New York              New York (Manhattan)
307    2015-01-31         Georgia                          Lagrange
308    2015-01-28         Georgia                     Dekalb County
309    2015-01-26      California                          Stockton
310    2015-01-24        New York                  Arverne (Queens)
311    2015-01-24        Nebraska                             Omaha
312    2015-01-23   Massachusetts                            Boston
313    2015-01-20       Tennessee                       Clarksville
314    2015-01-19           Texas                       San Antonio
315    2015-01-16      California                           Oakland
316    2015-01-13        Virginia                        Portsmouth
317    2015-01-13        Illinois                          Rockford
318    2015-01-11  North Carolina                        Hope Mills
319    2015-01-11         Florida                          Lakeland
320    2015-01-11      California                          San Jose
321    2015-01-10          Kansas                           Wichita
322    2015-01-09      California                     San Francisco
323    2015-01-08   Massachusetts                            Boston
324    2015-01-07       Tennessee                       Chattanooga
325    2015-01-06         Florida                             Miami
326    2015-01-04        Virginia                           Roanoke
327    2015-01-04           Texas                            Dallas
328    2015-01-02         Georgia                          Savannah
329    2015-01-01       Tennessee                           Memphis

                                               address  #_killed  #_injured  \
0                          1900 block of Amelia Street         0          5
1                                        North Parkway         0          4
2                                   4210 Macalester St         0          4
3                                  Franklin and Odessa         0          4
4                                 785 Schillinger Rd S         0          4
5                      14600 block of East 14th Street         0          4
6                               11th and Castle Street         1          4
7                         21630 Southwest 120th Avenue         1          4
8    Northeast Seventh Avenue and Northeast 166th S...         0          4
9                                     307 Jefferson St         1          3
10                               5550 S. Flower Street         1          3
11                         17000 block of Keelson Lane         0          4
12                                     Whitaker Street         0          4
13                   5100 block of Park Heights Avenue         1          3
14                      200 Block of  Brownsville Road         0          4
15                      2300 block of Baltimore Avenue         1          3
16                                       Market Street         1          3
17                North 108th Street and Military Road         2          3
18                          1365 South Waterman Avenue        16         19
19                       100 block of West 33rd Street         1          3
20                                     648 E. Court St         0          5
21                                3480 Centennial Blvd         3          9
22                           7900 block of Florin Road         2          2
23                                 1321 Colletta Court         0          4
24                       90 block of S. Terrace Avenue         4          1
25                                 Morgan Avenue North         0          5
26                                1800 Block of FM 802         0          4
27                                   Broadway and Pike         0          4
28                        1900 block of Gallier Street         0         17
29                                        203 Broadway         0          5
..                                                 ...       ...        ...
300                                  9552 Adler Street         3          1
301                                    251 Dupree Road         0          6
302                            3640 Willow Tree Circle         5          2
303                              1219 N. Sheridan Road         1          4
304                                       Harvard Road         3          3
305                           1217 West Fayette Street         0          6
306                                      3345 Broadway         1          4
307                      100 block of Woodstream Trail         4          0
308                          1600 block of Panola Road         1          3
309                        1500 block of E. 9th Street         1          3
310                                231-11 148th Avenue         4          1
311                                     3402 Parker St         3          5
312                                  954 Parker Street         0          6
313                                 321 Lansinger Lane         1          3
314                            1000 block of Gibbs St.         2          5
315                                     105th and Edes         2          2
316                 4100 block of Portsmouth Boulevard         0          5
317                         700 block of Oakley Avenue         2          2
318                        1900 block of Gumberry Road         2          5
319                                    7665 Chase Road         1          3
320                                  3840 Monterey Hwy         0          5
321                                4859 E Harry Street         2          2
322                            Laguna and Page streets         4          0
323                               104 Harrishof Street         1          3
324                               773 West Main Street         1          3
325                       1300 block of NW 62nd Street         1          3
326                             3634 Shenandoah Ave NW         2          4
327                          2000 block of Ben Hur St.         3          1
328                        500 block of W. 54th Street         1          4
329                   Interstate 240 and Poplar Avenue         0          5

     operations
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
..          ...
300         NaN
301         NaN
302         NaN
303         NaN
304         NaN
305         NaN
306         NaN
307         NaN
308         NaN
309         NaN
310         NaN
311         NaN
312         NaN
313         NaN
314         NaN
315         NaN
316         NaN
317         NaN
318         NaN
319         NaN
320         NaN
321         NaN
322         NaN
323         NaN
324         NaN
325         NaN
326         NaN
327         NaN
328         NaN
329         NaN

[330 rows x 7 columns]>

In [21]:
df.columns

Index(['incident_date', 'state', 'city_or_county', 'address', '#_killed',
       '#_injured', 'operations'],
      dtype='object')

## 4. Make a new column `month`

Using that `date` column, create a new column called `month` that will have an `int` representing the ordinal month (e.g. `1` would indicate January)

HINT: Try pulling out a single date (use `.loc` for practice!) and extract the month.  Then try using the `.map` function to create a new column

In [26]:
month = df.loc[0, 'incident_date'].month
print(month)

12

In [28]:
df['month'] = df['incident_date'].dt.month
df['month'].head

<bound method NDFrame.head of 0      12
1      12
2      12
3      12
4      12
5      12
6      12
7      12
8      12
9      12
10     12
11     12
12     12
13     12
14     12
15     12
16     12
17     12
18     12
19     12
20     11
21     11
22     11
23     11
24     11
25     11
26     11
27     11
28     11
29     11
       ..
300     2
301     2
302     2
303     2
304     2
305     2
306     2
307     1
308     1
309     1
310     1
311     1
312     1
313     1
314     1
315     1
316     1
317     1
318     1
319     1
320     1
321     1
322     1
323     1
324     1
325     1
326     1
327     1
328     1
329     1
Name: month, dtype: int64>

## 5. Drop the `operations` column

It looks like the operations column doesn't actually contain any useful information so let's drop that!

In [29]:
df.drop('operations', axis=1, inplace=True)

In [30]:
df.columns

Index(['incident_date', 'state', 'city_or_county', 'address', '#_killed',
       '#_injured', 'month'],
      dtype='object')

## 6. How many incidents occured in each Month?

Let's look at how many incidents took place in each month.
HINT: (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)

In [31]:
df.head

<bound method NDFrame.head of     incident_date           state                    city_or_county  \
0      2015-12-31       Louisiana                       New Orleans
1      2015-12-27       Tennessee                           Jackson
2      2015-12-26    Pennsylvania                      Philadelphia
3      2015-12-25         Florida                      Jacksonville
4      2015-12-25         Alabama                            Mobile
5      2015-12-21      California                       San Leandro
6      2015-12-20  North Carolina                        Wilmington
7      2015-12-20         Florida                    Miami (Goulds)
8      2015-12-20         Florida               Miami-dade (county)
9      2015-12-14        Illinois                Lovejoy (Brooklyn)
10     2015-12-13      California                       Los Angeles
11     2015-12-13      California                  Huntington Beach
12     2015-12-12         Georgia                          Savannah
13     2015-12-11        Maryland                         Baltimore
14     2015-12-11    Pennsylvania         Pittsburgh (Mount Oliver)
15     2015-12-08            Ohio            Cincinnati (Fairmount)
16     2015-12-06       Louisiana                          Raceland
17     2015-12-06        Nebraska                             Omaha
18     2015-12-02      California                    San Bernardino
19     2015-12-02         Georgia                          Savannah
20     2015-11-29        Illinois                          Kankakee
21     2015-11-27        Colorado                  Colorado Springs
22     2015-11-27      California                        Sacramento
23     2015-11-24  South Carolina                    Horry (county)
24     2015-11-23            Ohio                          Columbus
25     2015-11-23       Minnesota                       Minneapolis
26     2015-11-22           Texas                       Brownsville
27     2015-11-22      Washington                           Seattle
28     2015-11-22       Louisiana                       New Orleans
29     2015-11-22        New York                          Newburgh
..            ...             ...                               ...
300    2015-02-09         Florida                   New Port Richey
301    2015-02-08       Tennessee                        Maury City
302    2015-02-07         Georgia                      Douglasville
303    2015-02-06        Oklahoma                             Tulsa
304    2015-02-05            Ohio  Beachwood (Warrensville Heights)
305    2015-02-01        New York                          Syracuse
306    2015-02-01        New York              New York (Manhattan)
307    2015-01-31         Georgia                          Lagrange
308    2015-01-28         Georgia                     Dekalb County
309    2015-01-26      California                          Stockton
310    2015-01-24        New York                  Arverne (Queens)
311    2015-01-24        Nebraska                             Omaha
312    2015-01-23   Massachusetts                            Boston
313    2015-01-20       Tennessee                       Clarksville
314    2015-01-19           Texas                       San Antonio
315    2015-01-16      California                           Oakland
316    2015-01-13        Virginia                        Portsmouth
317    2015-01-13        Illinois                          Rockford
318    2015-01-11  North Carolina                        Hope Mills
319    2015-01-11         Florida                          Lakeland
320    2015-01-11      California                          San Jose
321    2015-01-10          Kansas                           Wichita
322    2015-01-09      California                     San Francisco
323    2015-01-08   Massachusetts                            Boston
324    2015-01-07       Tennessee                       Chattanooga
325    2015-01-06         Florida                             Miami
326    2015-01-04        Virginia                           Roanoke
327    2015-01-04           Texas                            Dallas
328    2015-01-02         Georgia                          Savannah
329    2015-01-01       Tennessee                           Memphis

                                               address  #_killed  #_injured  \
0                          1900 block of Amelia Street         0          5
1                                        North Parkway         0          4
2                                   4210 Macalester St         0          4
3                                  Franklin and Odessa         0          4
4                                 785 Schillinger Rd S         0          4
5                      14600 block of East 14th Street         0          4
6                               11th and Castle Street         1          4
7                         21630 Southwest 120th Avenue         1          4
8    Northeast Seventh Avenue and Northeast 166th S...         0          4
9                                     307 Jefferson St         1          3
10                               5550 S. Flower Street         1          3
11                         17000 block of Keelson Lane         0          4
12                                     Whitaker Street         0          4
13                   5100 block of Park Heights Avenue         1          3
14                      200 Block of  Brownsville Road         0          4
15                      2300 block of Baltimore Avenue         1          3
16                                       Market Street         1          3
17                North 108th Street and Military Road         2          3
18                          1365 South Waterman Avenue        16         19
19                       100 block of West 33rd Street         1          3
20                                     648 E. Court St         0          5
21                                3480 Centennial Blvd         3          9
22                           7900 block of Florin Road         2          2
23                                 1321 Colletta Court         0          4
24                       90 block of S. Terrace Avenue         4          1
25                                 Morgan Avenue North         0          5
26                                1800 Block of FM 802         0          4
27                                   Broadway and Pike         0          4
28                        1900 block of Gallier Street         0         17
29                                        203 Broadway         0          5
..                                                 ...       ...        ...
300                                  9552 Adler Street         3          1
301                                    251 Dupree Road         0          6
302                            3640 Willow Tree Circle         5          2
303                              1219 N. Sheridan Road         1          4
304                                       Harvard Road         3          3
305                           1217 West Fayette Street         0          6
306                                      3345 Broadway         1          4
307                      100 block of Woodstream Trail         4          0
308                          1600 block of Panola Road         1          3
309                        1500 block of E. 9th Street         1          3
310                                231-11 148th Avenue         4          1
311                                     3402 Parker St         3          5
312                                  954 Parker Street         0          6
313                                 321 Lansinger Lane         1          3
314                            1000 block of Gibbs St.         2          5
315                                     105th and Edes         2          2
316                 4100 block of Portsmouth Boulevard         0          5
317                         700 block of Oakley Avenue         2          2
318                        1900 block of Gumberry Road         2          5
319                                    7665 Chase Road         1          3
320                                  3840 Monterey Hwy         0          5
321                                4859 E Harry Street         2          2
322                            Laguna and Page streets         4          0
323                               104 Harrishof Street         1          3
324                               773 West Main Street         1          3
325                       1300 block of NW 62nd Street         1          3
326                             3634 Shenandoah Ave NW         2          4
327                          2000 block of Ben Hur St.         3          1
328                        500 block of W. 54th Street         1          4
329                   Interstate 240 and Poplar Avenue         0          5

     month
0       12
1       12
2       12
3       12
4       12
5       12
6       12
7       12
8       12
9       12
10      12
11      12
12      12
13      12
14      12
15      12
16      12
17      12
18      12
19      12
20      11
21      11
22      11
23      11
24      11
25      11
26      11
27      11
28      11
29      11
..     ...
300      2
301      2
302      2
303      2
304      2
305      2
306      2
307      1
308      1
309      1
310      1
311      1
312      1
313      1
314      1
315      1
316      1
317      1
318      1
319      1
320      1
321      1
322      1
323      1
324      1
325      1
326      1
327      1
328      1
329      1

[330 rows x 7 columns]>

In [32]:
by_month = df.groupby('month')
by_month.count()['incident_date']

month
1     23
2     16
3     20
4     19
5     35
6     36
7     41
8     39
9     34
10    20
11    27
12    20
Name: incident_date, dtype: int64

In [33]:
df.columns

Index(['incident_date', 'state', 'city_or_county', 'address', '#_killed',
       '#_injured', 'month'],
      dtype='object')

## 7. How many casualties occured in each Month?

Right now we have the number of people involved broken out into the number killed and the number injured.  Let's create a single column that indicates the number of casualties (i.e. the sum of killed and injured)

In [39]:
df['casualties'] = df['#_killed']+df['#_injured']
df.columns

Index(['incident_date', 'state', 'city_or_county', 'address', '#_killed',
       '#_injured', 'month', 'casualties'],
      dtype='object')

In [40]:
df.groupby('month').sum()['casualties']

month
1     111
2      85
3     102
4      88
5     185
6     185
7     206
8     200
9     163
10    107
11    137
12    115
Name: casualties, dtype: int64

## 8. How many casualties occured by State?

Now that we have a casualties column, let's brake down the number of casualties by state.

In [41]:
df.groupby('state').sum()['casualties']

state
Alabama                  17
Arizona                  29
Arkansas                 16
California              158
Colorado                 20
Connecticut              14
Delaware                  6
District of Columbia      9
Florida                 106
Georgia                  98
Illinois                117
Indiana                  49
Iowa                      9
Kansas                    4
Kentucky                 20
Louisiana                83
Maryland                 61
Massachusetts            24
Michigan                 54
Minnesota                24
Mississippi               9
Missouri                 51
Montana                   5
Nebraska                 17
Nevada                    4
New Jersey               36
New Mexico               11
New York                109
North Carolina           59
Ohio                     67
Oklahoma                 19
Oregon                   24
Pennsylvania             73
Rhode Island              4
South Carolina           51
South Dakota              6
Tennessee                56
Texas                   119
Vermont                   4
Virginia                 23
Washington                4
Wisconsin                15
Name: casualties, dtype: int64

## 9. How many distinct City or Counties are represented?

Let's see how many distinct City or Counties are represented in this dataset.

In [42]:
df.columns

Index(['incident_date', 'state', 'city_or_county', 'address', '#_killed',
       '#_injured', 'month', 'casualties'],
      dtype='object')

In [43]:
df['city_or_county'].nunique()

205

## 10. INDEXING!

You should be using `.loc`, `.iloc`, or `.ix` for all of these questions!

1. Return all rows occuring in Alabama
2. Return all shootings with more than 5 people killed
3. Return the address of shootings occuring on or after November 1st
4. Return the address and date of all shootings occuring in Louisiana or Florida with the casualty counts ranging from 6 to 10 (inclusive)

In [45]:
df[df['state'] == 'Alabama']

,incident_date,state,city_or_county,address,#_killed,#_injured,month,casualties
4,2015-12-25,Alabama,Mobile,785 Schillinger Rd S,0,4,12,4
35,2015-11-16,Alabama,Cherokee (county),1400 block of County Road 664,3,1,11,4
229,2015-05-24,Alabama,Montgomery,Smiley Court,1,3,5,4
259,2015-04-18,Alabama,Montgomery,1800 block of Gibbs Court,0,5,4,5

In [46]:
df[df['#_killed'] > 5]

,incident_date,state,city_or_county,address,#_killed,#_injured,month,casualties
18,2015-12-02,California,San Bernardino,1365 South Waterman Avenue,16,19,12,35
66,2015-10-01,Oregon,Roseburg,1140 Umpqua College Rd,10,9,10,19
83,2015-09-17,South Dakota,Platte,36705 379th Street,6,0,9,6
128,2015-08-08,Texas,Houston,2211 Falling Oaks,8,0,8,8
159,2015-07-16,Tennessee,Chattanooga,4051 Amnicola Highway,6,2,7,8
195,2015-06-17,South Carolina,Charleston,110 Calhoun Street,9,0,6,9
235,2015-05-17,Texas,Waco,4671 S Jack Kultgen Expy,9,18,5,27
292,2015-02-26,Missouri,Tyrone,18279 Highway H,8,1,2,9

df[df['month'] > 10].head

In [52]:
df[df['state'] == ('Louisiana','Florida').any()].head

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## 11. Sort by Date and reset index

Let's reorder our Dataframe based on the date and reset our index to reflect this.

NOTE: Don't use `df.sort()` as this method is deprecated!  Instead you should be using `df.sort_values()`

## EXTRA CREDIT:  Create a graph showing the weekly frequency of shootings
HINT: Set the index as the date and refer to http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html